$tea_green: #D4E6B5;
$olivine: #AFC97E;
$flax: #E2D686;
$battleship_grey: #877B66;
$naples_yellow: #FFDF64;
$dark_grey: #555555;
$light_grey: #eeeeee;

$default_space: 20px;
$default_half_space: calc($default_space / 2)
